  <div class="col-6 notification">
    <%= render 'shared/notifications' %>
  </div>
  <% if @stock %>
    <div class="row col-12 card card-header justify-content-center align-items-center ml-3">
      <div class="col-8">
        <div> <strong> Company: </strong> <%= @stock.name %> </div>
        <div> <strong> Symbol: </strong> <%= @stock.symbol %> </div>
        <div> <strong> Price: </strong>  $<%= @stock.price %> </div>
      </div>
      <div class="col-4 text-right">
        <% if current_user.can_allow_tracking?(@stock.symbol) %>
            <%= link_to "Watch this stock", user_stocks_path(user: current_user, stock: @stock.symbol), class: "btn btn-success", method: :post  %>
        <% else %>
          <span class="badge badge-success m-2 p-2"> You are already tracking
          <% if current_user.is_user_tracking_this_stock?(@stock.symbol) %>
            this stock
          <% end %>
          <% if !current_user.is_stock_under_limit? %>
            10 stocks
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>